<div container>
  <div class="banner">
    <%= image_tag "martinibar.jpg", {class: "banner", style: "background-image:  linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))"} %>
  </div>
    <div class="content">
      <h1>Cocktails</h1>
        <% @cocktails.each do |cocktail| %>
          <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
        <% end %>
      <p><%= link_to 'New Cocktail', new_cocktail_path %></p>
    </div>
  </div>
